*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

a {
	color: #fff;
	cursor: pointer;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "OpenSansRegular", sans-serif;
	overflow-x: hidden;
	background-image: url(../img/bg.png);
	background-position: center top;
	height: 100%;
}
.hidden {
	display: none;
}

h1 {
	font-family: "OpenSansRegular", sans-serif;
	font-size: 20px;
	color: #fff;
}

p{
 	color: hsla(0,0%,100%,.8);
 	font-size: 16px;
 	line-height: 22px;
 	font-family: "ArialRegular", sans-serif;
	
}

span {
	font-family: "OpenSansRegular", sans-serif;
	color: #fff;
}

a:hover, a:focus {
	text-decoration: none;
}

.container {
	width: 945px;
	padding: 0;
}

.logo img {
	float: left;
	width: 140px;
	height: 75px;
	margin-top: 5px;
	margin-left: 40px;
	margin-bottom: 5px;
}

.main_mnu ul {
	padding: 0;
	background-image: url(../img/menu.png);
	height: 50px;
	width: 945px;
	margin: 0;
	padding-left: 28px;
	list-style: none;
}

.menu_item {
	display: inline-block;
}

.menu_item a{
	list-style: none;
  font-family: "Big_Noodle_Titling_Cyr";
  font-style: italic;
  font-size: 25px;
  display: inline-block;
  height: 50px;
  padding: 5px 32px;
  color: #060606;
}

.menu_item a:hover {
	background: #FDE481;
}

.menu_media {
	position: relative;
}

.menu_media ul {
	position: absolute;
	left:-9999px;
	pacity:0;
	height: 100px;
	width: 111px;
	background: none;
	padding-left: 0;
}

.menu_media ul li {
	padding-top: 1px;
	float: none;
	background-color: #FFD941;
}

.menu_media ul li a {
	width: 111px;
	padding: 5px 17px;
}

.menu_media:hover ul{
	left: 0;
	opacity: 1;
}

.sec_news {
	width: 660px;
	min-height: 1244px;
	height: 100%;
	background-color: #283550;
	margin-top: 85px;
	margin-right: 15px;
	color: #fff;
	display: inline-block;
	position: relative;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

.sec_forum {
	width: 200px;
	height: 100%;
	background-color: #283550;
	margin-top: 85px;
	float: right;
	display: inline-block;
	margin-right: 70px;
}

.sec_guide {
	width: 255px;
	height: 457px;
	background-color: #283550;
	margin-top: 20px;
	display: inline-block;
}


.news_page img{
	width: 485px;
	height: 260px;
}

.popup_content {
	display: block;
	width: 485px;
	height: 260px;
	margin: 15px 70px;
}

.news_page h1 {
	font-size: 24px;
	margin-top: 10px;
	font-weight: 100;
	margin-bottom: 0;
}

.text {
	display: block;
}
.info span{
	font-size: 12px;
	color: #706C6C;
}

.news_data {
	display: inline-block;
	float: left;
	margin-right: 45px;
}

.news_author {
	display: inline-block;
}

.views_news {
	float: right;
}

.news_tag {
	margin-top: 35px;
	font-size: 12px;
	margin-bottom: 10px;
}

.news_tag  span{
	color: #706C6C;
}

.news_tag a{
 border: 1px #A2BAEB solid;
 margin-right: 5px;
 padding: 3px;
}

.more_button  {
	color: #fff;
	font-family: "Big_Noodle_Titling_Cyr";
  font-style: italic;
  font-size: 24px;
  text-align: center;
}

.more_button  a{
 color: #fff;
}

.more_button:hover {
	background: #4A5A7B;
}

.forum_item {
	padding-left: 5px;
	border-bottom: 1px #A2BAEB solid ;
	height: 42px;
}

.forum_item:hover {
	background: #4A5A7B;
}

.top_title {
	font-family: "Big_Noodle_Titling_Cyr";
  font-style: italic;
  font-size: 26px;
  text-align: center;
  background-color: #354565;
}

.top_title a {
	color: #fff;
}

.forum_tittle {
	width: 135px;
	display: inline-block;
	float: left;
	overflow: hidden;
	padding-top: 5px;
	font-size: 14px;
	color: #fff;
	margin: 0;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.comment_item img{
	width: 15px;
	height: 14px;
	margin-top: 10px;
	margin-left: 3px;
	display: inline-block;
	float: left;
}

.comment_amount {
	font-size: 14px;
	color: #7B97CE;
	padding-top: 5px;
	margin-left: 2px;
	display: inline-block;
}

.forum_data {
	display: inline-block;
	float: left;
	margin-right: 15px;
}

.forum_data,.forum_author {
	line-height: 5px;
}

.forum_data span,.forum_author span {
	font-size: 9px;
}

.guide_item {
	border-bottom: 1px #A2BAEB solid ;
	height: 47px;
}
.guide_tittle {
	width: 191px;
	display: inline-block;
	float: left;
	padding-top: 5px;
	font-size: 14px;
	color: #fff;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 5px;
}

.view_item img{
	width: 20px;
  height: 23px;
  margin-top: 8px;
	display: inline-block;
	float: left;
}

.guide_amount {
	font-size: 14px;
	color: #7B97CE;
  padding-top: 9px;
  margin-left: 2px;
}

.guide_cat{
	display: inline-block;
	float: left;
}

.guide_item:hover {
	background: #4A5A7B;
}

.button_guide {
	font-size: 25px;
}

.sec_stream {
	width: 255px;
	height: 320px;
	background-color: #283550;
	margin-top: 15px;
	color: #fff;
	display: inline-block;
}

.stream_item {
	width: 135px;
	height: 80px;
	position: relative;
	margin-top: 10px;
	margin-left: 60px;
}

.border:hover {
	border: 1px #91B5FF solid;
}

.border {
	background-clip: padding-box;
	width: 135px;
	height: 80px;
	z-index: 50;
	position: absolute;
	background: -moz-linear-gradient(top, transparent 0%, rgba(0,0,0,0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0,0,0,0.75)));
	background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,0.85) 100%);
	background: -o-linear-gradient(top, transparent 0%, rgba(0,0,0,0.85) 100%);
	background: -ms-linear-gradient(top, transparent 0%, rgba(0,0,0,0.85) 100%);
	background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.85) 100%);
}

.stream_name {
	width: 80px;	
	color: #fff;
	position: absolute;
	top: 50px;
	left: 5px;
	font-family: "Big_Noodle_Titling_Cyr", sans-serif;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  z-index: 100;
}

.views_icon {
	position: absolute;
	top: 52px;
	left: 85px;
	font-size: 12px;
	color: #6D9EFF;
	z-index: 100;
}

.steam_views {
	position: absolute;
	width: 35px;
	top: 53px;
	left: 98px;
	font-size: 12px;
	color: #6D9EFF;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 100;
}

.stream_item img {
	width: 135px;
	height: 80px;
	position: absolute;
	top: 0;
	background-clip: padding-box;
	z-index: 0;
}

footer {
	height: 100px;
	background-color: #283550;
	margin-top: 15px;
	position: relative;
	font-size: 14px;
}

.copyright {
	float: left;
	position: absolute;
	display: inline-block;
	color: #818080;
	bottom: 30px;
	left: 20px;
}

span.warn{
	color: #818080;
	bottom: 10px;
	position: absolute;
	left: 20px;
}

.e-mail {
	color: #818080;
	position: absolute;
	float: right;
	bottom: 10px;
	right: 20px;
	font-size: 16px;
	line-height: 20px;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
 3
}

.vidoe_page {
	padding: 0;
}

